.photo {
    width: 200px; height: 200px; border-radius: 100%;
  }
  
  .card {
    width: 300px; text-align: center; padding: 10px;
    background-color: #ebebeb; border-radius: 20px;
  }
  
  input, button {
    padding: 5px; margin: 5px;
  }

  td{ padding: 5px;}

  /* TodoList 항목 간격 조절 */
.custom-container {
  max-width: 700px; /* 원하는 최대 너비로 조정 */
  max-height: max-content;
  margin: auto; /* 중앙 정렬 */
}

.list-group-item {
  margin-bottom: 5px; 
  padding: 10px 15px; 
}

/* 컴팩트한 리스트 뷰 */
.list-group-item-action {
  font-size: 0.9rem; /* 글자 크기 줄임 */
}

.todo-delete-btn {
  color: salmon;
  border: none;
  background: none;
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
}

.todo-delete-btn:hover {
  color: darksalmon;
}

/* 기본 상태의 배경색 */
.filter-all {
  background-color: #b8e994; /* 연한 녹색 */
}
.filter-active {
  background-color: #ffdd59; /* 연한 주황색 */
}
.filter-completed {
  background-color: #74b9ff; /* 연한 파란색 */
}

/* hover 상태에서의 배경색 */
.filter-all:hover {
  background-color: #a3de83; /* 더 진한 녹색 */
}
.filter-active:hover {
  background-color: #e6c04b; /* 더 진한 주황색 */
}
.filter-completed:hover {
  background-color: #639bff; /* 더 진한 파란색 */
}





