
.container {
  border: 1px solid black;
  padding: 15px;
}

.calculated {
  border: 1px solid black;
  padding: 10px;

  width: 88%;
}

.btn {
  width: 50px;

  height: 50px;


  margin: 5px 5px 5px 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  min-height: 100vh;
}